<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
		<form action="/staff/query_house/" method="post">


			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr>
					<td height="30" background="/static/tab_05.gif">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td width="12" height="30">
									<img src="/static/tab_03.gif" width="12" height="30">
								</td>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr>
											<td class="STYLE4" align="center">
												&nbsp;&nbsp;请输入查询信息：
												<input type="text" name="houseInput" style="width: 290px">
											</td>
											<td class="STYLE4">
												&nbsp;&nbsp;请选择查询方式：
												<select name="queryType" style="width: 100px">
													<option value="1">
														房屋类型
													</option>
													<option value="2">
														房屋地址
													</option>
												</select>
											</td>
											<td class="STYLE4">
												&nbsp;&nbsp;
												<input type="submit" value="查询" style="width: 50px">
												<input type="hidden" name="userId" value="1">
											</td>
											<td class="STYLE4">
												&nbsp;&nbsp;
												<input type="button" value="添加" onclick="add()" style="width: 50px">
											</td>
										</tr>
									</tbody></table>
								</td>
								<td width="16">
									<img src="/static/tab_07.gif" width="16" height="30">
								</td>
							</tr>
						</tbody></table>
					</td>
				</tr>


				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td width="8" background="/static/tab_12.gif">
									&nbsp;
								</td>
								<td>
									<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="b5d6e6" onmouseover="changeto()" onmouseout="changeback()">
										<tbody><tr>
											<td width="3%" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 3%; height: 22px;">
												<div align="center">
													<span class="STYLE1">序号</span>
												</div>
											</td>
											<td background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 10%; height: 22px;">
												<div align="center">
													<span class="STYLE1">户型</span>
												</div>
											</td>
											<td background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 5%; height: 22px;">
												<div align="center">
													<span class="STYLE1">管理员工</span>
												</div>
											</td>
											<td background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 20%; height: 22px;">
												<div align="center">
													<span class="STYLE1">房屋地址</span>
												</div>
											</td>
											<td background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 10%; height: 22px;">
												<div align="center">
													<span class="STYLE1">房屋价格(平米)</span>
												</div>
											</td>
											<td background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 30%; height: 22px;">
												<div align="center">
													<span class="STYLE1">房屋环境</span>
												</div>
											</td>
											<td width="20%" background="/static/bg2.gif" bgcolor="#FFFFFF" class="STYLE1" style="width: 20%; height: 22px;">
												<div align="center">
													基本操作
												</div>
											</td>
										</tr>
                                        {% for houseinf in houseinfo %}

                                            <tr>
											<td height="20" bgcolor="#FFFFFF" style="width: 3%;">
												<div align="center" class="STYLE1">
													<div align="center">
{#                                                        #序号#}
														{{ houseinf.house_id}}
													</div>
												</div>
											</td>
											<td height="20" bgcolor="#FFFFFF" style="width: 10%;">
												<div align="center">
													<span class="STYLE1">{{ houseinf.type.type_name }}</span>
												</div>
											</td>
											<td height="20" bgcolor="#FFFFFF" style="width: 10%;">
												<div align="center">
													<span class="STYLE1">{{ houseinf.user.user_name }}</span>
												</div>
											</td>
											<td height="20" bgcolor="#FFFFFF" style="width: 20%;">
												<div align="center">
													<span class="STYLE1">{{ houseinf.house_address }}</span>
												</div>
											</td>
											<td height="20" bgcolor="#FFFFFF" style="width: 10%;">
												<div align="center">
													<span class="STYLE1">{{ houseinf.house_price }}</span>
												</div>
											</td>
											<td height="20" bgcolor="#FFFFFF" style="width: 20%;">
												<div align="center">
													<span class="STYLE1">{{ houseinf.house_ambient }}</span>
												</div>
											</td>
											<td height="20" bgcolor="#FFFFFF" style="width: 20%;">
												<div align="center">
													<span class="STYLE4"> <img src="/static/edt.gif" width="16" height="16"> <a href="/staff/Edit/?cno={{ houseinf.house_id }}">编辑</a>&nbsp;
														&nbsp; <img src="/static/del.gif" width="16" height="16"><a href="/staff/E_del/?cno={{ houseinf.house_id }}">删除</a>
													</span>
												</div>
											</td>
										</tr>
                                            {% endfor %}






									</tbody></table>
								</td>
								<td width="8" background="/static/tab_15.gif">
									&nbsp;
								</td>
							</tr>
						</tbody></table>
					</td>
				</tr>

				<tr>
					<td height="35" background="/static/tab_19.gif">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td width="12" height="35">
									<img src="/static/tab_18.gif" width="12" height="35">
								</td>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr>
											<td class="STYLE4">
												&nbsp;&nbsp;共有 {{ count }} 条记录，当前第 1/1 页
											</td>
											<td>
												<table border="0" align="right" cellpadding="0" cellspacing="0">
													<tbody><tr>
														<td width="40">
															<img src="/static/first.gif" width="37" height="15">
														</td>
														<td width="45">
															<img src="/static/back.gif" width="43" height="15">
														</td>
														<td width="45">
															<img src="/static/next.gif" width="43" height="15">
														</td>
														<td width="40">
															<img src="/static/last.gif" width="37" height="15">
														</td>
{#														<td width="100">#}
{#															<div align="center">#}
{#																<span class="STYLE1">转到第 <input name="textfield" type="text" size="4" style="height: 12px; width: 20px; border: 1px solid #999999;">#}
{#																	页 </span>#}
{#															</div>#}
{#														</td>#}
{#														<td width="40">#}
{#															<img src="/static/go.gif" width="37" height="15">#}
{#														</td>#}
													</tr>
												</tbody></table>
											</td>
										</tr>
									</tbody></table>
								</td>
								<td width="16">
									<img src="/static/tab_20.gif" width="16" height="35">
								</td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
		</form>


<script language="VBScript"><!--

//--></script></body>
</html>