<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


	<form action="/staff/query_house_type/" method="post">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tbody><tr>
				<td height="30" background="/static/tab_05.gif">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tbody><tr>
							<td width="12" height="30">
								<img src="/static/tab_03.gif" width="12" height="30">
							</td>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr>
										<td class="STYLE4" align="center">
											&nbsp;&nbsp;请输入房屋类型名称：
											<input type="text" name="houseTypeName" style="width: 290px">
										</td>
										<td class="STYLE4">
											&nbsp;&nbsp;
											<input type="submit" value="查询" style="width: 50px">
										</td>
										<td class="STYLE4">
											&nbsp;&nbsp;
											<input type="button" value="添加" onclick="add()" style="width: 50px">
										</td>
									</tr>
								</tbody></table>
							</td>
							<td width="16">
								<img src="/static/tab_07.gif" width="16" height="30">
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>


			<tr>
				<td>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tbody><tr>
							<td width="8" background="/static/tab_12.gif">
								&nbsp;
							</td>
							<td>
								<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="b5d6e6" onmouseover="changeto()" onmouseout="changeback()">
									<tbody><tr>
										<td width="5%" background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 5%; height: 22px;">
											<div align="center">
												<span class="STYLE1">序号</span>
											</div>
										</td>
										<td background="/static/bg2.gif" bgcolor="#FFFFFF" style="width: 85%; height: 22px;">
											<div align="center">
												<span class="STYLE1">房屋类型名称</span>
											</div>
										</td>
										<td width="10%" background="/static/bg2.gif" bgcolor="#FFFFFF" class="STYLE1" style="width: 10%; height: 22px;">
											<div align="center">
												基本操作
											</div>
										</td>
									</tr>

                                    {% for housetyp in housetype %}
                                    	<tr>
										<td height="20" bgcolor="#FFFFFF" style="width: 5%;">
											<div align="center" class="STYLE1">
												<div align="center">
													{{ housetyp.type_id }}
												</div>
											</div>
										</td>
										<td height="20" bgcolor="#FFFFFF" style="width: 85%;">
											<div align="center">
												<span class="STYLE1">{{ housetyp.type_name }}</span>
											</div>
										</td>

										<td height="20" bgcolor="#FFFFFF" style="width: 10%;">
											<div align="center">
												<span class="STYLE4"><img src="/static/del.gif" width="16" height="16"><a href="/staff/delete/?cno={{ housetyp.type_id }}">删除</a>
                                    {% endfor %}


												</span>
											</div>
										</td>
									</tr>

								</tbody></table>
							</td>
							<td width="8" background="/static/tab_15.gif">
								&nbsp;
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>

			<tr>
				<td height="35" background="/static/tab_19.gif">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tbody><tr>
							<td width="12" height="35">
								<img src="/static/tab_18.gif" width="12" height="35">
							</td>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr>
										<td class="STYLE4">
											&nbsp;&nbsp;共有 4 条记录，当前第 1/1 页
										</td>
										<td>
											<table border="0" align="right" cellpadding="0" cellspacing="0">
												<tbody><tr>
													<td width="40">
														<img src="/static/first.gif" width="37" height="15">
													</td>
													<td width="45">
														<img src="/static/back.gif" width="43" height="15">
													</td>
													<td width="45">
														<img src="/static/next.gif" width="43" height="15">
													</td>
													<td width="40">
														<img src="/static/last.gif" width="37" height="15">
													</td>
													<td width="100">
														<div align="center">
															<span class="STYLE1">转到第 <input name="textfield" type="text" size="4" style="height: 12px; width: 20px; border: 1px solid #999999;">
																页 </span>
														</div>
													</td>
													<td width="40">
														<img src="/static/go.gif" width="37" height="15">
													</td>
												</tr>
											</tbody></table>
										</td>
									</tr>
								</tbody></table>
							</td>
							<td width="16">
								<img src="/static/tab_20.gif" width="16" height="35">
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</form>


<script language="VBScript"><!--

//--></script></body>
</html>